div {
    height: fit-content;
    width: 700px;
    align-items: center;
    padding: 50px;
    padding-bottom: 0px;
  }
.text {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
  }
h1 {
    font-size: 50px;
  }
h2 {
    padding-bottom: 100px;
  }

body {
    background-color: black;
}

img {
    border: 5px solid goldenrod;
}
a {
    /* text-decoration: underline; */
    color: goldenrod;
}